.title {
  font-size: 24px;
  color: #242729;
  line-height: 1.35;
  font-weight: normal;
  padding-bottom: .5em;
  border-bottom: 1px solid #e4e6e8;
  margin-bottom: 1em;
}

.voter {
  display: flex;
}

.controls {
  color: #6a737c;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin-right: 16px;
}

.content {
  flex: 1;
  font-size: 15px;
  line-height: 1.3;
  padding: 4px;
}

.vote-icon {
  cursor: pointer;
  height: 0;
  width: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}

.up {
  border-bottom: 16px solid #6a737c;
}

.down {
  border-top: 16px solid #6a737c;
}
