<p><br/><br/><br/></p>

<app-voter title="Why does HTML think “chucknorris” is a color?" votes="20">
  It produces a document with a red background across all browsers and platforms.
  What's going on here?
</app-voter>

<p><br/><br/><br/></p>

<app-voter title="How to pair socks from a pile efficiently?" votes="15">
  Yesterday I was pairing the socks from the clean laundry and figured out the way I was doing it is not very efficient.
</app-voter>

<!-- The above are real questions from StackOverflow:
  * http://stackoverflow.com/questions/8318911/why-does-html-think-chucknorris-is-a-color
  * http://stackoverflow.com/questions/14415881/how-to-pair-socks-from-a-pile-efficiently
  -->
